{% extends 'base.html' %}

{% block content %}
	<h3><span class="badge badge-dark">{% block title %} Atracciones en Región del Maule {% endblock %}</span></h3>
    <div class="col-md-12">
    {% for atraccion in atracciones %}
    	<div class="row">
    		<div class="col-md-2"></div>
    			<div class="col-md-8">
					<div class="card mb-3" style="max-width: 1000px;">
					  <div class="row no-gutters">
					    <div class="col-md-4">
					      <img src="{{ 'http://127.0.0.1:5000/static/images/atractions/' + atraccion.id_servicio + '.jpg' }}" class="card-img" alt="..." style="width:200px;
height:200px;object-fit:cover;">
					    </div>
					    <div class="col-md-8">
					      <div class="card-body">
					        <h5 class="card-title">
					        	<a href="{{ 'http://127.0.0.1:5001/atractions/' + atraccion.id_servicio }}">{{ atraccion.nombre }}</a>
					    	</h5>
					        <p class="card-text">{{ atraccion.valoracion }} - {{ atraccion.num_valoracion }}</p>
					        <p class="card-text"><small class="text-muted">{{ atraccion.ciudad }}</small></p>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			<div class="col-md-2"></div>
		</div>
    {% endfor %}
    </div>

{% endblock %}