{% extends 'base.html' %}

{% block content %}
    <h3><span class="badge badge-dark">{% block title %} Carro {% endblock %}</span></h3>
    {% if servicios|length > 0 %}
   
    <div class="col-md-12">
      <div class="list-group">
        <table class="table table-bordered">
              <tr>
                <th>
                  <a href="{{url_for('carro_delete_all')}}">
                    <button type="button" class="btn btn-danger">Vaciar</button>
                  </a>

                  <a href="{{url_for('add_list')}}">
                    <button type="button" class="btn btn-primary">Crear lista</button>
                  </a>
                </th>
              </tr>
          </table>
        <div class="row">
          
           
        </div>
         
      </div>
        <div class="list-group">
          <table class="table table-bordered">
              <tr>
                <th>ID</th>
                <th>Eliminar</th>
              </tr>
          {% for servicio in servicios %}
            <tr>
              <td>{{servicio.id}}</td>
              <td><a href="{{url_for('carro_delete',id=servicio.id)}}">
                <button type="button" class="btn btn-warning">Borrar</button>
              </a></td>
            </tr>
          {% endfor %}
          </table>
        </div>
    </div>
    {% else %}
      <h2>El carro está vacío</h2>
    {% endif %}
{% endblock %}