{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Hoteles en Región del Maule {% endblock %}</h1>

    <div class="col-md-12">
    {% for hotel in hoteles %}
    	<div class="col-md-6">
			<div class="card mb-3">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="{{ 'http://127.0.0.1:5000/static/images/hotels/' + hotel.id_servicio + '.jpg' }}" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">
			        	<a href="{{ 'http://127.0.0.1:5001/hotels/' + hotel.id_servicio }}">{{ hotel.nombre }}</a>
			    	</h5>
			        <p class="card-text">{{ hotel.valoracion }} - {{ hotel.num_valoracion }}</p>
			        <p class="card-text"><small class="text-muted">{{ hotel.ciudad }}</small></p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
    {% endfor %}
    </div>

{% endblock %}