{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} INDEX {% endblock %}</h1>

    <div class="card mb-3 text-center">
	  <div class="card-body">
	    <h1 class="card-title">Descubre la Región del Maule.</h1>

	    <div class="row">
	    	<div class="col">
	    		<a href="/hotels" class="btn btn-primary btn-block">Hoteles</a>
	    	</div>
	    	<div class="col">
	    		<a href="/restaurants" class="btn btn-primary btn-block">Restaurantes</a>
	    	</div>
	    	<div class="col">
	    		<a href="/atractions" class="btn btn-primary btn-block">Cosas que hacer</a>
	    	</div>

	    </div>

	    
	    
	    

	  </div>
	</div>

{% endblock %}