{% extends 'base.html' %}

{% block content %}

    <div class="row">
    {% if restaurant%}
    	{% if recomendaciones %}
    	<div class="col-md-3">
    		{% for recomendacion in recomendaciones %}
			<div class="row">
				<div class="card mb-3" style="width:100%;height:auto;">
				  <div class="row no-gutters">
				    <div class="col-md-4">
				      	<img src="{{ 'http://127.0.0.1:5000/static/images/' + recomendacion.tipo + '/' + recomendacion.id + '.jpg' }}" class="card-img" alt="..." style="
				      	width:100%;height:auto;top:50%margin: 0;
					  	position: absolute;
					  	top: 50%;
					    -ms-transform: translateY(-50%);
					    transform: translateY(-50%);">
										    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h6 class="card-title">
				        	<a href="{{ 'http://127.0.0.1:5001/' + recomendacion.tipo + '/' + recomendacion.id }}">{{recomendacion.nombre}}</a>
				    	</h6>
				    	<p class="card-text"><small class="text-muted">{{recomendacion.tipo}}</small></p>
				    	<p class="card-text"><small class="text-muted">{{recomendacion.ciudad}}</small></p>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
    		{% endfor %}
    	</div>
    	<div class="col-md-9">
    	{% else %}
    	<div class="col-md-12">	
    	{% endif %}

			<div class="card mb-3">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="{{ 'http://127.0.0.1:5000/static/images/restaurants/' + restaurant.id_servicio + '.jpg' }}" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">
			        	{{ restaurant.nombre }}
			    	</h5>
			        <p class="card-text">{{ restaurant.valoracion }} - {{ restaurant.num_valoracion }}</p>
			        <p class="card-text"><small class="text-muted">{{ restaurant.ciudad }}</small></p>
			        <a href="{{url_for('carro_add',id=restaurant.id_servicio)}}">Agregar</a>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row justify-content-center">
				<iframe src="{{ restaurant.url_mapa }}" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
    {% endif %}
    </div>

{% endblock %}