{% extends 'base.html' %}

{% block content %}

    <div class="row">
    {% if restaurant%}
    	<div class="col-md-3">
    		{% if recomendaciones %}
    		{% for recomendacion in recomendaciones %}
    			<div class="row">
    				<a href="{{ 'http://127.0.0.1:5001/' + recomendacion.tipo + '/' + recomendacion.id }}">{{ recomendacion.id }}</a>
    			</div>
    		{% endfor %}
    		{% endif %}
    	</div>
    	<div class="col-md-9">
			<div class="card mb-3">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="{{ 'http://127.0.0.1:5000/static/images/restaurant/' + restaurant.id_servicio + '.jpg' }}" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">
			        	{{ restaurant.nombre }}
			    	</h5>
			        <p class="card-text">{{ restaurant.valoracion }} - {{ restaurant.num_valoracion }}</p>
			        <p class="card-text"><small class="text-muted">{{ restaurant.ciudad }}</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<a href="{{url_for('carro_add',id=restaurant.id_servicio)}}">Agregar</a>
		</div>
    {% endif %}
    </div>

{% endblock %}